<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>LazyCoder || sumit</title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
  <title>submit</title>
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4">Hello</h1>
    <p class="lead">A service dedicated to Hospital Admin, Doctor and Patient.Our Hospitals is a multi-speciality hospital in Suryaraopeta, Vijayawada which offers excellent healthcare facilities and treatments. The hospital is well equipped with state-of-the-art facilities and treatments. The hospital has a wide range of medical services which include general surgery, obstetrics and gynaecology, paediatric surgery, cardiology, ophthalmology, and many more. Mayo Clinic has major campuses in Rochester, Minn.; Scottsdale and Phoenix, Ariz.; and Jacksonville, Fla. The Mayo Clinic Health System has dozens of locations in several states. Thousands of patients from around the world travel to Mayo Clinic locations, and Mayo Clinic's International Patient Offices help ensure that distance and language are not obstacles to receiving world-class care.
    <br>Cutting-edge medicine based on excellent management structures. The Hospital Advisory Board (the chief management body), Hospital Executive Board (operative decision-making body) and eight departmental and trans-sectoral directorates are jointly responsible for the University Hospital Zurich. Indiana University Health is the largest network of physicians in the state of Indiana.
      A unique partnership with Indiana University School of Medicine, one of the nation’s leading medical schools, gives patients access to leading-edge medicine and treatment options that are available first, and often only, at IU Health.</p>
    <br>
    <h2>Highly skilled care</h2><br>
    <p2 class="lead"> At IU Health you’ll receive the best care available, personalized for your specific needs. We believe in treating the whole person – not just the symptom – and ensuring that our approach is right for you and your lifestyle. As an academic health center, IU Health works in partnership with IU School of Medicine to train physicians, blending breakthrough research and high-quality patient care. Based in Indianapolis, Indiana, with dozens of facilities statewide, IU Health is a regional leader in providing the right healthcare when and where you need it. Learn more about who we are, the care we provide and how we achieve our mission.</p2>
    <br><br>
    <h2>Our Vision, Values & Promise</h2>
    <br>
    <p3 class="lead">IU Health has been on a path to create a healthy culture for all. The IU Health Way describes our shared culture and how we aspire to treat each other, our patients and the communities we serve.
    <br>
      Our vision: To make Indiana one of the nation’s healthiest states<br>
Our promise: The Best Care, Designed for You <br>
Our values: <br>
Purpose: We work to do good in the lives of all others<br>
Excellence: We do our best at all times and in new ways<br>
Compassion: We treat all people with respect, empathy and kindness<br>
Team: We count on and care for each other</p3><br>
    <hr class="my-4">
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>
  {% include "hospital/footer.html" %}
</body>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/keerthi
-->

</html>
